<!DOCTYPE html>
<html>
<head>
    <title>Autori</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
</head>
<body>
    <div><a href="/"><img src="/logo.png" width="10%" /></a></div>

    <h1>Autori</h1>

    <div th:if="${autori.isEmpty()}">Non ci sono autori nel sistema</div>

    <ul>
        <li th:each="autore : ${autori}">
            <a th:href="@{'/autore/' + ${autore.id}}">
                <span th:text="${autore.nome} + ' ' + ${autore.cognome}">Tizio Caio</span>
                <span th:text="' (' + ${autore.nazionalita} + ')'">Italiana</span>
            </a>
        </li>
    </ul>

    <div><a th:href="@{/admin/formNewAutore}">Aggiungi Autore</a></div>
</body>
</html>