<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Libri</title>
    <link rel="stylesheet" href="/css/libri.css?version=2">
</head>

<body>
    <div class="sidebar">
        <a href="/" class="logo">SIW<br>Books</a>
        <nav>
            <h2>Menu</h2>
            <ul>
                <li><a href="/libri">Aggiunti di recente</a></li>
                <li><a href="/libri/piu-votati">Più votati</a></li>
                <li><a href="/libri/salvati">Più salvati</a></li>
            </ul>
            <h2>Generale</h2>
            <ul>
                <li><a th:href="@{/admin/formNewLibro}">Aggiungi Libro</a></li>
                <li>Impostazioni</li>
                <li>Logout</li>
            </ul>
        </nav>
    </div>

    <main class="content">
        <h1>Libri</h1>

        <div th:if="${globalError != null}">
            <p th:text="${globalError}" class="error-global"></p>
        </div>

        <form th:action="@{/libri}" method="get" class="search-form">
            <input type="text" name="titolo" placeholder="Titolo">
            <input type="text" name="autore" placeholder="Autore">
            <input type="text" name="anno" placeholder="Anno">
            <input type="text" name="genere" placeholder="Genere">
            <button type="submit">Cerca</button>
        </form>

        <div class="no-libri" th:if="${libri.isEmpty()}">Non ci sono libri nel sistema</div>

        <div class="book-grid">
            <div class="book-card" th:each="libro : ${libri}">
                <a th:href="@{'/admin/libro/' + ${libro.id}}">
                    <img class="book-cover" th:if="${not #lists.isEmpty(libro.urlImmagini)}"
                        th:src="${libro.urlImmagini[0]}" alt="Copertina libro" />
                    <div th:unless="${libro.urlImmagini != null and !libro.urlImmagini.isEmpty()}">
                        <img th:src="@{/images/noImage.png}" style="width: 100%; height: 100%; object-fit: cover;" />
                    </div>
                    <div class="book-info">
                        <h3 th:text="${libro.titolo}">Titolo</h3>
                        <p th:text="'Anno: ' + ${libro.anno}">Anno</p>
                        <p th:text="'Genere: ' + ${libro.genere}">Genere</p>

                        <div th:if="${stelle[libro.id] != null}" th:with="voto=${stelle[libro.id]}">
                            <span th:each="i : ${#numbers.sequence(1, 5)}" th:text="${i <= voto} ? '★' : '☆'">
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>