<!DOCTYPE html>
<html>

<head>
    <title>Autore</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
    <div><a href="/"><img src="/logo.png" width="10%" /></a></div>
    <div th:if="${autore}">
        <img th:src="@{${autore.urlImmagine}}" width="10%" alt="Immagine dell'autore">
        <h1 th:text="${autore.nome} + ' ' + ${autore.cognome}">Nome Cognome</h1>
        <div>
            Data di nascita: <span th:text="${#temporals.format(autore.dataNascita, 'dd/MM/yyyy')}">1/1/1900</span>
        </div>
        <div th:if="${autore.dataMorte != null}">
            Anno di morte: <span th:text="${#temporals.format(autore.dataMorte, 'dd/MM/yyyy')}">1/1/1900</span>
        </div>
        <div>Nazionalità: <span th:text="${autore.nazionalita}">Italiano</span></div>
        <div th:if="${autore.descrizione}">
            <h3>Biografia</h3>
            <p th:text="${autore.descrizione}">Testo della descrizione</p>
        </div>
    </div>
    <div th:unless="${autore}">Non esiste</div>
</body>

</html>