<!DOCTYPE html>
<html>

<head>
    <title>Nuovo Libro</title>
    <link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>
    <div><a href="/"><img src="/logo.png" width="10%" /></a></div>
    <h1>Aggiungi un libro</h1>
    <form th:action="@{/libro}" th:object="${libro}" method="post">
        <div>
            Titolo: <input type="text" th:field="*{titolo}" required />
        </div>
        <div>
            Anno: <input type="number" th:field="*{anno}" required />
        </div>
        <div>
            URL Immagini: <input type="url" th:field="*{urlImmagini}" />
        </div>
        <div>
            <label for="autori">Autori:</label>
            <select multiple="multiple" th:field="*{autori}" id="autori">
                <option th:each="autore : ${autori}" th:value="${autore.id}"
                    th:text="${autore.nome} + ' ' + ${autore.cognome}">
                </option>
            </select>
        </div>
        <button type="submit">Salva</button>
    </form>
</body>

</html>