<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SIW Books - Home</title>
    <link rel="stylesheet" href="/index.css?version=2" />
</head>

<body>
    <span id="logo"><img src="/logo.png" width="10%" alt="Logo SIW Books" /></span>

    <span>
        <!-- Mostra login se utente non autenticato -->
        <p th:if="${not #authorization.expression('isAuthenticated()')}">
            <a href="/login">Login</a>
        </p>
        <!-- Mostra username se autenticato -->
        <span th:if="${nomeUtente != null}">
            Benvenuto, <span th:text="${nomeUtente}"></span>!
            &nbsp;|&nbsp;
            <a th:href="@{/logout}">Logout</a>
        </span>
    </span>

    <h1>Benvenuto in SIW Books</h1>

    <div>
        <p><a href="/libri">Libri</a></p>
        <p><a href="/autori">Autori</a></p>
        <p><a href="/formNewLibro">Aggiungi nuovo libro</a></p>
        <p><a href="/formNewAutore">Aggiungi nuovo autore</a></p>
    </div>
</body>

</html>