<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIW Books - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/index.css?version=2" />
</head>

<body>

    <nav class="navbar">
        <span id="navbar-logo">
            SIW<br>Books
        </span>
        <span id="navbar-links">
            <a href="/libri">Libri</a>
            <a href="/autori">Autori</a>
        </span>
        <span id="navbar-auth">
            <span class th:if="${not #authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register" class="button-register">Register</a>
            </span>
            <span th:if="${nomeUtente != null}">
                Ciao, <span th:text="${nomeUtente}"></span> | <a th:href="@{/logout}">Logout</a>
            </span>
        </span>
    </nav>

    <div id="main-page">

        <h1>SIW Books</h1>
        <h2>La tua biblioteca digitale</h2>
        <p>SIW Books è la tua biblioteca digitale: scopri libri,
            conosci gli autori e condividi le tue recensioni
            con altri lettori.</p>
        <div>
            <a href="#libri" class="button-scopri">Scopri di più ↗︎</a>
        </div>

    </div>

    <div id="content">
        <section id="libri">
            <div class="libri-testo">
                <h2>Libri</h2>
                <p>
                    Scopri centinaia di libri da leggere, dai grandi classici ai bestseller contemporanei.
                    Esplora trame avvincenti, generi diversi e recensioni autentiche per trovare la tua prossima lettura
                    preferita.
                    Salva i titoli che ami, confronta valutazioni e tieni traccia dei tuoi progressi.
                </p>
                <a href="/libri" class="button-libri">Scopri nuovi libri ↗︎</a>
            </div>
            <div class="libri-immagine">
                <img src="libro.png" alt="Libro aperto" />
            </div>
        </section>

        <section id="autori">
            <div class="autori-immagine">
                <img src="autori.png" alt="Autori" style="width: 130%;" />
            </div>
            <div class="autori-testo">
                <h2>Autori</h2>
                <p>
                    Esplora il mondo degli autori che stanno dietro ai tuoi libri preferiti. Scopri biografie,
                    bibliografie,
                    curiosità e approfondimenti sui più grandi scrittori di ieri e di oggi. Segui i tuoi autori
                    preferiti e
                    resta aggiornato sulle loro ultime pubblicazioni.
                </p>
                <a href="/autori" class="button-autori">Scopri nuovi autori ↗︎</a>
            </div>
        </section>

        <section id="recensioni">
            <div class="recensioni-testo">
                <h2>Recensioni</h2>
                <p>
                    Scopri centinaia di libri da leggere, dai grandi classici ai bestseller contemporanei.
                    Esplora trame avvincenti, generi diversi e recensioni autentiche per trovare la tua prossima lettura
                    preferita.
                    Salva i titoli che ami, confronta valutazioni e tieni traccia dei tuoi progressi.
                </p>
                <a href="/libri" class="button-recensioni">Scopri nuovi libri ↗︎</a>
            </div>
            <div class="recensioni-immagine">
                <img src="/recensioni.png" alt="Recensioni" />
            </div>
        </section>
    </div>

    <footer id="footer">
        <div class="icons">
            <a href="https://github.com/adducec03" target="_blank" rel="noopener">
                <img src="github_icon_light.png" alt="GitHub">
            </a>
            <a href="https://www.instagram.com/adducec/" target="_blank" rel="noopener">
                <img src="instagram_icon_light.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/carmine-adduce-b82704342/" target="_blank" rel="noopener">
                <img src="linkedin_icon_light.png" alt="LinkedIn">
            </a>
        </div>
        <div class="footer-text">
            <p>SIW Books &copy; 2025</p>
            <p>Progetto di Sistemi Informativi su Web - Università degli Studi Roma Tre</p>
            <p>Copyright © 2025 Carmine Adduce</p>
        </div>
    </footer>

</html>