<!DOCTYPE html>
<html>

<head>
    <title>Libri</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
    <div><a href="/"><img src="/logo.png" width="10%" /></a></div>

    <h1>Libri</h1>

    <div th:if="${globalError != null}">
        <p th:text="${globalError}" class="error-global"></p>
    </div>

    <div>Cerca un libro</div>

    <form th:action="@{/libri}" method="get" style="margin-bottom: 30px;">
        <input type="text" name="titolo" placeholder="Titolo" />
        <input type="text" name="autore" placeholder="Nome e cognome autore" />
        <input type="text" name="anno" placeholder="Anno" />
        <input type="text" name="genere" placeholder="Genere" />
        <button type="submit">Cerca</button>
    </form>

    <div th:if="${libri.isEmpty()}">Non ci sono libri nel sistema</div>

    <ul>
        <li th:each="libro : ${libri}">
            <a th:href="@{'/libro/' + ${libro.id}}">
                <span th:text="${libro.titolo}">Titolo</span>
                <span th:text="' (' + ${libro.anno} + ')'">(2000)</span>
            </a>
        </li>
    </ul>
</body>

</html>